#include <zephyr/dt-bindings/i2c/i2c.h>

/ {
    aliases {
        accel0 = &accel_sensor;
    };
};

&flexcomm2_lpi2c2 {
    status = "okay";
    clock-frequency = <I2C_BITRATE_STANDARD>;

    accel_sensor: accelerometer@18 {
        compatible = "nxp,fxls8974";
        reg = <0x18>;
        status = "okay";
    };
};